<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8">
        <title>Embedded pdf in html webpage</title>
        <style>
            html, body {
                height: 100%;
                margin: 0;
                padding: 0;
                overflow: hidden; /* Prevent scrolling */
            }
            embed {
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
            }
        </style>
    </head>
    <body>
        <embed src="/files/pdf/resume.pdf#toolbar=0" type="application/pdf"/>
    </body>
</html>
<!--<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8">
        <title>Embedded pdf in html webpage</title>
        <style>.container{padding:0%;height: 100%;}</style>
    </head>
    <body>
        <div class="container">
            <embed src="/files/pdf/resume.pdf#toolbar=0" type="application/pdf" width="100%" height="100%"/>
        </div>
    </body>
</html>-->