<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Professional voyage: experience</h1>
            <hr>
            <p>Welcome to my personal corner of the digital realm. Here, you'll discover a curated collection of my journey, experiences, and endeavors. Join me in exploring the intricate tapestry of moments that define who I am and where I'm headed. From professional pursuits to personal passions, this space is a reflection of my diverse interests and constant growth. Grab a virtual seat and delve into the chapters that make up my story!</p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
        </div>
    </div>
</header>
